@font-face {
  font-family: MalayaRegular;
  src:url("../Fonts/MalayaRegular-e8jO.ttf");
}

@font-face {
  font-family: Pasta;
  src:url("../Fonts/CrunchyPasta-8MMoz.otf");
}

@font-face {
  font-family: Cassandra;
  src:url("../Fonts/CassandraPersonalUseRegular-3BjG.ttf");
  font-size: 72px;
}




html {
  font-size: 14px;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-image: url(../Img/background.jpg);
  background-size: 100%;
  background-repeat: repeat-y;
  background-position: center;
  height: 150%;
}

div#footer {
  position:fixed;
  bottom:0px;
  left:0px;
  width:100%;
  color:#CCC;
  background:#333;
  padding:8px;
}

.jumbotron {
  padding: 4rem 2rem;
  margin-bottom: 2rem;
  border-radius: .3rem; 
  font-family: Cassandra;
  font-size: 48px;
  color: white;
}



.card {
  float: left;
  width: 50%;
}


#navigation {
  text-align: center;
  
}

#SlideCard
{
  background-color: black;
  margin-right: 800;
  margin: auto;
  width:50%;
  border: 3px solid grey;
  padding: 10px;
  text-align: center;
  margin-top: 1%;
  border-radius: 20px;
}

#registerCard
{
  /* background-image: url(../img/wheat.jpg); */
  margin-right: 800;
  margin: auto;
  width:50%;
  border: 3px solid grey;
  padding: 10px;
  text-align: center;
  margin-top: 1%;
  border-radius: 20px;
  z-index: 1;
}

.card-text
{
  overflow-y: auto;
  z-index: 1;
}

.card-img
{
  opacity: .35;
}

