@{
  Layout = "_Layout";
}

<div class="jumbotron text-center">
  <h2>Welcome to the Pierres Treats!</h2>
</div>

<div id=TopBar>
    <p>@Html.ActionLink("Flavors", "Index", "Flavors") | @Html.ActionLink("Treats", "Index", "Treats")</p>
</div>

<div class="text-center">

  @if (User.Identity.IsAuthenticated)
{
    <p>Hello @User.Identity.Name!</p>
    @using (Html.BeginForm("LogOff", "Account"))
    {
      <input type="submit" class="btn btn-default" value="Log out" />
    }
}
