@{
  Layout = "_Layout";
}

<div class="jumbotron text-center">
  <h2>Welcome to the Pierres Treats!</h2>
</div>

<div id=TopBar>
    <p>@Html.ActionLink("Flavors", "Index", "Flavors") | @Html.ActionLink("Treats", "Index", "Treats")</p>
</div>

<div class="text-center">
  <button class="btn btn-outline-primary">@Html.ActionLink("Create an account", "Index", "Account")</button>
</div>
<br />