@{
  Layout = "_Layout";
}

@model PierresTreats.Models.Flavor

<div class="jumbotron text-center">
  <h2>Add a new flavor</h2>
</div>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Description)
  @Html.TextBoxFor(model => model.Description, new { @required="required" })
  <input type="submit" value="Add new Flavor" />
}
<p>@Html.ActionLink("Show all flavors", "Index")</p>