@{
  Layout = "_Layout";
}

@model PierresTreats.Models.Flavor

<div class="jumbotron text-center">
  <h2>Are you sure you want to delete flavor?</h2>
</div>

@Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)
@using (Html.BeginForm())
{
  <input type="submit" value="Delete" />
}
@Html.ActionLink("Back to List", "Index")